{
  "trailingComma": "es5",
  "semi": false,
  "singleQuote": true,
  "endOfLine": "lf",
  "arrowParens": "always",
  "useTabs": false,
  "bracketSpacing": true,
  "printWidth": 80,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["cn", "getClassNames"]
}
