@layer components {
  .carousel {
    @apply inline-flex snap-x snap-mandatory overflow-x-scroll scroll-smooth;

    /* Hide the scrollbars */
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .carousel-slide {
    @apply box-content flex h-full w-full flex-none snap-start;
  }

  .carousel-navigation {
    @apply flex-center absolute top-1/2 h-12 w-12 rounded-full text-white outline-none;

    &[aria-disabled='true'] {
      @apply text-white/40;
    }

    &[aria-disabled='false'] {
      @apply hover:bg-white/10 active:bg-white/20;
    }
  }
}
